{% extends 'ECardAdminBundle:Page:index.html.twig' %}

{% block title %}Adding new category{% endblock %}

{% block body %}
    {{ form_start(form) }}
    {{ parent() }}
    {{ form_end(form) }}
{% endblock %}

{% block admin_side_nav %}
    {{ form_row(form.submit) }}
{% endblock %} 

{% block admin_body %}
    {{ form_errors(form) }} 
    {{ form_row(form.category) }}
    {{ form_row(form.name) }}
    {{ form_rest(form) }}     
{% endblock %}