{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block headJavascripts %}

{% endblock %}

{% block notification_bar %}
    {% if app.user %}
        
    {% endif %}
{% endblock %}

{% block content %}
    {{ parent() }}
    {% block body %}

    {% endblock %}
{% endblock %}