{% extends 'ECardAdminBundle:Page:index.html.twig' %}

{% block title %}Editing user {{ user.username }}{% endblock %}

{% block body %}
    {{ form_start(form) }}
    {{ parent() }}
    {{ form_end(form) }}
{% endblock %}

{% block admin_side_nav %}
    {{ form_row(form.submit) }}
{% endblock %} 

{% block admin_body %}
    {{ form_errors(form) }} 
    {{ form_row(form.username) }}
    {{ form_row(form.email) }}
    {{ form_row(form.plainPassword) }}
    {{ form_row(form.roles, {'attr': {'class':'form-control'} }) }}
    {{ form_rest(form) }}
{% endblock %}