{% extends 'ECardAdminBundle::layout.html.twig' %}

{% block title %}Admin Panel{% endblock %}

{% block stylesheets %}
    {{ parent() }}   
    <link href="{{ asset('css/admin.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="admin-panel">
        <ul class="nav nav-tabs topnav">
            {#<li><a href="{{ path('ECardAdmin_index') }}">Dashboard</a></li>#}
            <li><a href="{{ path('ECardAdmin_categories') }}">Categories</a></li>
            <li><a href="{{ path('ECardAdmin_users') }}">Users</a></li>  
            <li><a href="{{ path('ECardAdmin_cards') }}">Cards</a></li>       
        </ul>
        <div class="panel panel-primary">
            <div class="panel-body">
                {% block admin_content %}
                    <div class="row">
                        <div class="col-md-2 side-nav">
                            <ul class="nav">
                                {% block admin_side_nav %}

                                {% endblock %} 
                            </ul>
                        </div>
                        <div class="col-md-10">
                            {% block success_flash %}
                                {% for flashMessage in app.session.flashbag.get('success') %}
                                    <div class="alert alert-success">{{ flashMessage }}</div>
                                {% endfor %}   
                            {% endblock %}
                            {% block fail_flash %}
                                {% for flashMessage in app.session.flashbag.get('fail') %}
                                    <div class="alert alert-danger">{{ flashMessage }}</div>
                                {% endfor %}   
                            {% endblock %}
                            
                            {% block admin_body %}
                                Hello world!
                            {% endblock %}  
                        </div>
                    </div>
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}