<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="An ECard website">
    <meta name="author" content="Hyperion Studios">
    <title>{% block title %}{% endblock %}</title>
    {% block stylesheets %}
      <!-- Bootstrap core CSS -->
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
      <!--link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet" media="screen"-->
      <!-- Custom styles for this template -->
      <link href="{{ asset('css/style.css') }}" rel="stylesheet">
    {% endblock %}

    {% block headJavascripts %}

    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
  </head>

  <body>

    <div class="navbar navbar-default" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="{{ path('ECard_index') }}">
              <img src="{{ asset('images/logo.png') }}" height="50" alt="ECard">
          </a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              {% block navbar_links %}
                    <li><a href="{{ path('ECard_index') }}">Home</a></li>
                    {{ render(controller('ECardBundle:Page:baseNavbarLink')) }} 
              {% endblock %}
            </ul>
            <div class="pull-right">
                <p class="navbar-text">
                  {% if app.user and  is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                  Logged in as <a href="{{ path('ECard_userProfile', {'id': app.user.id}) }}" class="navbar-link">{{ app.user.username }}</a>
                      |
                      <a href="{{path('ECard_logout')}}">Logout</a>
                  {% else %}
                      <a href="{{ path('ECard_register') }}">Register</a>
                      |
                      <a href="{{ path('ECard_login') }}">Login</a>
                  {% endif %}
                </p>
            </div>
        </div><!--/.nav-collapse -->
        
      </div>
    </div>
    <div id="wrapper">
        <div class="container">
            {%block content %}

            {%endblock%}

        </div><!-- /.container -->
    </div>
    <footer id="footer">
        {%block footer %}
            <nav class="navbar navbar-default navbar-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-md-2">&copy; 2014</div>
                        <div class="col-md-2">
                            {% if app.user and is_granted('IS_AUTHENTICATED_FULLY') and is_granted('ROLE_ADMIN') %}
                            <a class="navbar-link" href="{{ path('ECardAdmin_index') }}" >Admin Panel</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </nav>
        {%endblock%}
    </footer>

    {% block coreJavascript %}
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <!--script src="{{ asset('js/bootstrap.min.js') }}"></script-->

    {% endblock %}
  </body>
</html>