<li><a href="{{ path('ECard_index') }}"></a></li>
{% for cat in categories %}
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ cat.name }}<span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
            <li><a href="{{ path('ECard_index', {'category': cat.name}) }}" >All cards</a></li>
            
            <li><a href="{{ path('ECard_public', {'category': cat.name}) }}">
                    <span class="glyphicon glyphicon-globe"></span>
                    View Publicly sent
                </a></li>
           <li class="divider"></li>
        {% for sub in cat.subcategories %}
            <li><a href="{{ path('ECard_index', {'category': cat.name, 'subcategory': sub.name}) }}" >{{ sub.name }}</a></li>
        {% endfor %}
        </ul>
    <li>
{% endfor %}