{% extends 'ECardBundle::layout.html.twig' %}

{% block title %}Send {{ card.name }}{% endblock %}

{% block coreJavascript %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/jquery.autocomplete.min.js') }}"></script>
    <script type="text/javascript">
        var options, a;
        jQuery(function(){
                options = { 
                    serviceUrl:'{{ path('ECard_ajaxUsers') }}',
                    maxHeight:200,
                    showNoSuggestionNotice: true,
                    paramName: 'username'
                };
                a = $('#{{ form.receiver.vars.id }}').autocomplete(options);
        }); 
    </script>
{% endblock %}


{% block body %}
    {{ parent() }}
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success">{{ flashMessage }}</div>
    {% endfor %}
    <div class="panel panel-primary">
        <div class="panel-heading">
            ECard {{ card.name }}
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    {% if card.cardFile is defined %}
                        {% if card.cardFile.type == "image" %}
                            <img id="card_preview" src="{{ asset(card.cardFile.webPath) }}" 
                                 class="img-responsive" alt="{{ card.name }} preview">
                        {% else %}
                            <video controls preload="metadata" class="img img-responsive">
                                <source src="{{ asset(card.cardFile.webPath) }}" type="video/mp4">
                                I'm sorry; your browser doesn't support HTML5 video in WebM with VP8 or MP4 with H.264.
                                <!-- You can embed a Flash player here, to play your mp4 video in older browsers -->
                            </video>
                        {% endif %}
                    {% endif %}

                    <p>{{ card.description|raw }}</p>
                </div>
                <div class="col-md-6">
                    {{ form_start(form) }}
                    {{ form_errors(form) }}
                    

                    {{ form_row(form.receiver) }}
                    {{ form_row(form.receiverName) }}
                    {{ form_row(form.receiverEmail) }}
                    {% if app.user %}
                        {{ form_row(form.use_login) }}
                    {% else %}
                        {# don't bother rendering this checkbox #}
                        {% do form.use_login.setRendered %}
                    {% endif %}
                    {{ form_row(form.senderName) }}
                    {#{ form_row(form.senderEmail) }#}
                    {% do form.senderEmail.setRendered %}
                    
                    {{ form_row(form.message) }}
                    {{ form_row(form.public) }}
                    
                    {{ form_row(form.submit) }}
                    {{ form_rest(form) }}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
        <div class="panel-footer">
            Tags:
            {% for tag in card.tags %}
                <a href="{{ path('ECard_index', {'tags': tag}) }}" class="btn btn-xs btn-primary">{{ tag }}</a>
            {% endfor %}
        </div>
    </div>
{% endblock %}