{% extends 'ECardBundle::layout.html.twig' %}

{% block title %}
    Viewing {{ card.name }} 
    {% if userCard.senderName is not null %} 
        from {{ userCard.senderName }}
    {% endif %}
{% endblock %}


{% block body %}
    {{ parent() }}
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success">{{ flashMessage }}</div>
    {% endfor %}
    <div class="panel panel-primary">
        <div class="panel-heading">
            Viewing {{ card.name }}
            {% if userCard.senderName is not null %} 
                from {{ userCard.senderName }}
            {% endif %}
            <div class="pull-right">
                <a href="" onclick="history.go(-1);return false;" class="btn btn-warning">Go Back</a>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    {% if card.cardFile is defined %}
                        {% if card.cardFile.type == "image" %}
                            <img id="card_preview" src="{{ asset(card.cardFile.webPath) }}" 
                                 class="img-responsive" alt="{{ card.name }} preview">
                        {% else %}
                            <video controls preload="metadata" class="img img-responsive">
                                <source src="{{ asset(card.cardFile.webPath) }}" type="video/mp4">
                                I'm sorry; your browser doesn't support HTML5 video in WebM with VP8 or MP4 with H.264.
                                <!-- You can embed a Flash player here, to play your mp4 video in older browsers -->
                            </video>
                        {% endif %}
                    {% endif %}
                </div>
                <div class="col-md-6">
                    <div>
                        <p>
                            <b>Card sent:</b>
                            {{ userCard.sentDate | date('M d, Y g:ia') }}
                        </p>
                    </div>
                    <div>
                    {% if userCard.receiverName is not null %}
                        <b>To:</b> {{ userCard.receiverName }} 
                    {% elseif userCard.receiverUser is not null %}
                        <b>To:</b> {{ userCard.receiverUser.username }}                
                    {% endif %}
                    </div>
                    
                    {#% if userCard.receiverEmail is not null %}
                        <div>To Email: {{ userCard.receiverEmail }}</div>
                    {% endif %#}
                    
                    {% if userCard.senderUser is not null %}
                        <div><b>From:</b> {{ userCard.senderUser.username }}</div>
                    {% elseif userCard.senderName is not null %}
                        <div><b>From:</b> {{ userCard.senderName }}</div>
                    {% endif %}
                    {#% if userCard.senderEmail is not null %}
                        <div>From Email: {{ userCard.senderEmail }}</div>
                    {% endif %#}
                    <h3>Message</h3>
                    <p>{{ userCard.message }}</p>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            Tags:
            {% for tag in card.tags %}
                <a href="{{ path('ECard_index', {'tags': tag}) }}" class="btn btn-xs btn-primary">{{ tag }}</a>
            {% endfor %}
        </div>
    </div>
{% endblock %}