{% extends 'ECardBundle::layout_xtd.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{#% block content %}
    {{ parent() }}
    {% block body %}

    {% endblock %}
{% endblock %#}