{% block style %}
    <style>
        .search-field {
            margin-bottom: 3px;
            width: 100%;
        }
        .hidden {
            display: none;
        }
    </style>
{% endblock %}    

{% block javascript %}
    
{% endblock %}

{% block searchForm %}
    {% set catHid = form.card.category.vars.read_only %}
<div class="panel-toolbar">
    {{ form_start(form, {'action': path('ECard_public_search_bar', {'route': route, 
        'category': category, 'readOnly': readOnly})}) }}
    <div class="row">
        {% if not catHid %}
            <div class="col-md-3 col-sm-3 col-xs-6">
                {{ form_widget(form.card.category, {'attr': {'class': 'form-control search-field' } }) }}
            </div>
        {% else %}
            {# 
            we must render it due to not being able to default a value in the backend code... 
            Let's just hide it from the user k? XD
            #}
            <div>
                {{ form_widget(form.card.category, {'attr': {'class': 'hidden' } }) }}
            </div>
        {% endif %}
        <div class="col-md-3 col-sm-3 col-xs-6">
            {{ form_widget(form.card.subcategory, {'attr': {'class': 'form-control search-field' } }) }}
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6">
            {{ form_widget(form.card.sortBy, {'attr': {'class': 'form-control search-field' } }) }}
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6">
            {{ form_widget(form.card.name, {'attr': {'class': 'search-field' } }) }}
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6">
            {{ form_widget(form.email, {'attr': {'class': 'search-field' } }) }}
        </div>
        {% if not catHid %}
            <div class="col-md-9 col-sm-9 col-xs-9">
        {% else %}
            <div class="col-md-12 col-sm-12 col-xs-12">   
        {% endif %}    
            <div class="input-group">
                {{ form_widget(form.card.tags) }}

                {% do form.card.submit.setRendered %}
                <span class="input-group-btn input-group-addon-hack">
                  <button class="btn btn-default" type="submit">
                      <span class="glyphicon glyphicon-search"></span>
                      Search
                  </button>
                </span>
            </div>
        </div>
    </div>
    {{ form_rest(form) }}
    {{ form_end(form) }}
</div>
{% endblock %}
