{% extends 'ECardBundle::layout.html.twig' %}

{% block title %}ECard{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style type='text/css'>
        @media screen and (min-width: 1px) and (max-width: 767px){
            #columns[data-columns]::before {
                content: '1 .col-xs-12';
            }
        }
        @media screen and (min-width:768px) and (max-width: 991px){
            #columns[data-columns]::before {
                content: '2 .col-sm-6';
            }
        }
        @media screen and (min-width:992px) and (max-width: 9999px){
            #columns[data-columns]::before {
                content: '3 .col-md-4';
            }
        }
    </style>
{% endblock %}

{% block coreJavascript %}
    {{ parent() }}
    <script src="{{ asset('js/salvattore.min.js') }}"></script> 
{% endblock %}


{% block body %}
    {{ parent() }}
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success">{{ flashMessage }}</div>
    {% endfor %}
    <div class="panel panel-primary">
        <div class="panel-heading">
            ECard
        </div>
        <div class="panel-body">

            <div class="row">
                <div class="col-md-10">
                    {# render search bar! #}
                    {{ render(controller('ECardBundle:Search:searchBar', {'route': 'ECard_index', 
                        'category': query.category, 'readOnly': 'readonly'})) }} 
                    {% if cards %}
                        <div id="columns" data-columns>
                            {% for card in cards %}
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <div class="pull-right">
                                            <a href="{{ path('ECard_beginSend_card', {'id': card.id}) }}" class="btn btn-success">Send Card</a>
                                        </div>
                                        <h4>{{ card.name }}</h4>
                                    </div>
                                    <div class="panel-body">
                                        <!--div class="pull-right"-->
                                        {% if card.cardFile is defined %}
                                            {% if card.cardFile.type == "image" %}
                                                <img id="card_preview" src="{{ card.cardFile.webPath | imagine_filter('default_thumb') }}" 
                                                     class="img-responsive" alt="{{ card.name }} preview">
                                            {% else %}
                                                <video controls preload="none" poster="{{ card.cardThumb.webPath | imagine_filter('default_thumb') }}"
                                                       class="img img-responsive">
                                                    <source src="{{ asset(card.cardFile.webPath) }}" type="video/mp4">
                                                    I'm sorry; your browser doesn't support HTML5 video in WebM with VP8 or MP4 with H.264.
                                                    <!-- You can embed a Flash player here, to play your mp4 video in older browsers -->
                                                </video>
                                            {% endif %}
                                        {% endif %}

                                        <p>{{ card.description|raw }}</p>
                                    </div>
                                    <div class="panel-footer">
                                        Tags:
                                        {% for tag in card.tags %}
                                            <a href="{{ path('ECard_index', {'tags': tag}) }}" class="btn btn-xs btn-primary">{{ tag }}</a>
                                        {% endfor %}
                                    </div>
                                </div>

                            {% endfor %}
                        </div>
                    {% else %}
                        <h2 style="text-align:center;">No cards available!</h2>
                    {% endif %}

                </div>
                <div id="rightSidebar" class="col-md-2">
                    <header>
                        <h3>Tag Cloud</h3>
                    </header>
                    <p class="tags">
                        {% for tag, weight in tagWeights %}
                            <a href="{{ path('ECard_index', {'tags': tag}) }}" class="weight-{{ weight }}">{{ tag|capitalize }}</a>
                        {% else %}
                        <p>There are no tags</p>
                    {% endfor %}
                    </p>
                </div>  
            </div>
        </div>
        {% if pages > 1 %}
            <div class="panel-footer">
                <ul class="pagination">

                    {% for i in 1..pages %}
                        {% if i == 1 and i == page %}
                            <li class="disabled"><a>&laquo;</a></li>
                            {% elseif i == 1 %}
                            <li><a href="{{ path('ECard_index', query|merge({'page': (page-1)})) }}">&laquo;</a></li>
                            {% endif %}

                        {% if i == page %}
                            <li class="active"><a>{{ i }} <span class="sr-only">(current)</span></a></li>
                            {% else %}
                            <li><a href="{{ path('ECard_index', query|merge({'page': i})) }}">{{ i }}</a></li>
                            {% endif %}

                        {% if i == page and page == pages %}
                            <li class="disabled"><a>&raquo;</a></li>
                            {% elseif i == pages %}
                            <li><a href="{{ path('ECard_index', query|merge({'page': (page+1)})) }}">&raquo;</a></li>
                            {% endif %}

                    {% endfor %}
                </ul>
            </div>
        {% endif %}            
    </div>
{% endblock %}