{% extends 'ECardBundle::layout.html.twig' %}

{% block title %}ECard{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style type='text/css'>
        @media screen and (min-width: 1px) and (max-width: 767px){
            #columns[data-columns]::before {
                content: '1 .col-xs-12';
            }
        }
        @media screen and (min-width:768px) and (max-width: 991px){
            #columns[data-columns]::before {
                content: '2 .col-sm-6';
            }
        }
        @media screen and (min-width:992px) and (max-width: 9999px){
            #columns[data-columns]::before {
                content: '3 .col-md-4';
            }
        }
    </style>
{% endblock %}

{% block coreJavascript %}
    {{ parent() }}
    <script src="{{ asset('js/salvattore.min.js') }}"></script> 
{% endblock %}


{% block body %}
    {{ parent() }}
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success">{{ flashMessage }}</div>
    {% endfor %}
    <div class="panel panel-primary">
        <div class="panel-heading">
            ECard
        </div>
        <div class="panel-body">
            
            <div class="row">
                <div class="col-md-12">
                    {# render search bar! #}
                    {{ render(controller('ECardBundle:Search:publicSearchBar', {'route': 'ECard_public',
                        'category': query.category, 'readOnly': 'readonly'})) }} 
                    {% if userCards %}
                    <div id="columns" data-columns>
                    {% for userCard in userCards %}
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-md-4">
                                        <h4>{{ userCard.card.name }}</h4>
                                    </div>
                                    <div class="col-md-5">
                                        {% if userCard.receiverUser is not null %}
                                            To: {{ userCard.receiverUser.username }}      
                                        {% elseif userCard.receiverName is not null %}
                                            To: {{ userCard.receiverName }}            
                                        {% endif %}
                                    </div>
                                    <div class="col-md-3">
                                        <a href="{{ path('ECard_public_view', {'id':userCard.uniqueId}) }}" class="btn btn-success">View</a>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-body">
                                <!--div class="pull-right"-->
                                {% if userCard.card.cardFile is defined %}
                                    {% if userCard.card.cardFile.type == "image" %}
                                        <img id="card_preview" src="{{ userCard.card.cardFile.webPath | imagine_filter('default_thumb') }}" 
                                             class="img-responsive" alt="{{ userCard.card.name }} preview">
                                    {% else %}
                                        <video controls preload="none" poster="{{ userCard.card.cardThumb.webPath | imagine_filter('default_thumb') }}" 
                                               class="img img-responsive">
                                            <source src="{{ asset(userCard.card.cardFile.webPath) }}" type="video/mp4">
                                            I'm sorry; your browser doesn't support HTML5 video in WebM with VP8 or MP4 with H.264.
                                            <!-- You can embed a Flash player here, to play your mp4 video in older browsers -->
                                        </video>
                                    {% endif %}
                                {% endif %}

                                <p>{{ userCard.message }}</p>
                            </div>
                            <div class="panel-footer">
                                Tags:
                                {% for tag in userCard.card.tags %}
                                    <a href="{{ path('ECard_public', {'tags': tag}) }}" class="btn btn-xs btn-primary">{{ tag }}</a>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                    </div>
                    {% else %}
                        <h2 style="text-align:center;">No cards available!</h2>
                    {% endif %}
                </div>
            </div>
        </div>
        {% if pages > 1 %}
        <div class="panel-footer">
            <ul class="pagination">

                {% for i in 1..pages %}
                    {% if i == 1 and i == page %}
                        <li class="disabled"><a>&laquo;</a></li>
                    {% elseif i == 1 %}
                        <li><a href="{{ path('ECard_public', query|merge({'page': (page-1)})) }}">&laquo;</a></li>
                    {% endif %}

                    {% if i == page %}
                        <li class="active"><a>{{ i }} <span class="sr-only">(current)</span></a></li>
                    {% else %}
                        <li><a href="{{ path('ECard_public', query|merge({'page': i})) }}">{{ i }}</a></li>
                    {% endif %}

                    {% if i == page and page == pages %}
                        <li class="disabled"><a>&raquo;</a></li>
                    {% elseif i == pages %}
                        <li><a href="{{ path('ECard_public', query|merge({'page': (page+1)})) }}">&raquo;</a></li>
                    {% endif %}

                {% endfor %}
            </ul>
        </div>
        {% endif %}            
    </div>
{% endblock %}