.admin-panel .panel {
    border-radius: 0 0 5px 5px;
    padding: 0;
}
.admin-panel .panel-body {
    padding: 5px 25px;
}
.admin-panel .nav {
    margin: 0 1px;
}
/*
.admin-panel .topnav li a {
    background: #FFF;
    color: #000;
    font-size: 15px;
}
.admin-panel .topnav li a:hover {
    background: #5D00FF;
    color: #FFF;
}*/
.side-nav {
    padding: 0 1px;
    height: 100%;
}
.side-nav li {
    margin: 2px 0;
}

.side-nav .btn {
    width: 100%;
    padding: 6px;
}

.admin-panel .checkbox input[type=checkbox] {
    margin-left: 0;
}

.description {
    word-break: break-all;
}


