/*
    Customizes bootstrap!
*/
html {
  position: relative;
  min-height: 100%;
}
body {
    /*margin-top: 75px;*/
    background-color:#cccccc;
    margin-bottom: 130px;
}

.navbar {
    background-color:#add0ff;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 200px;
}

@media (min-width: 992px) {
    #footer {
        height: 130px;
    }
}

#footer .navbar {
    height: 100%;
    margin-bottom: 0;
}

form .list-group-item {
    background-color: transparent;
    border: none;
    padding: 0;
}

#rightSidebar .tags {
    font-weight: bold;
    font-size: 12px; 
}

#rightSidebar .tags .weight-1 { font-size: 12px; }
#rightSidebar .tags .weight-2 { font-size: 16px; }
#rightSidebar .tags .weight-3 { font-size: 20px; }
#rightSidebar .tags .weight-4 { font-size: 24px; }
#rightSidebar .tags .weight-5 { font-size: 28px; }


.autocomplete-suggestions { overflow: auto; border: 1px solid #CBD3DD; background: #FFF; }

.autocomplete-suggestion { overflow: hidden; padding: 5px 15px; white-space: nowrap; }

.autocomplete-selected { background: #F0F0F0; }

.autocomplete-suggestions strong { color: #029cca; font-weight: normal; }

.help-inline {
  display: inline;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #737373;
}