{% extends 'ECardAdminBundle:Page:index.html.twig' %}

{% block title %}Adding new card{% endblock %}

{% block coreJavascript %}
    {{ parent() }}
    <script type="text/javascript">
        var url = "{{ path('ECardAdmin_ajax_get_category') }}";
        var category = $("#{{ form.category.vars.id }}");
        var subCat = $("#{{ form.subcategory.vars.id }}");
        
        category.change(function () {
            var catId = category.val();
            myUrl = url+"/"+catId;
            $.ajax(myUrl).done(function (data) {
                changeSubCat(data);
            });
            
        });
        
        function changeSubCat(data) {
            console.log(data);
            subCat.empty();
            subCat.append("<option value>Subcategory</option>");
            console.log(data.subcategories);
            for (var i=0; i < data.subcategories.length; i++) {   
                subCat.append("<option value=\""+ data.subcategories[i].id +"\">"+ data.subcategories[i].name +"</option>");
            }
        }
    </script> 
{% endblock %}

{% block body %}
    {{ form_start(form) }}
    {{ parent() }}
    {{ form_end(form) }}
{% endblock %}

{% block admin_side_nav %}
    {{ form_row(form.submit) }}
{% endblock %} 

{% block admin_body %}
    {{ form_errors(form) }} 
    {{ form_row(form.category) }}
    {{ form_row(form.subcategory) }}
    {{ form_row(form.name) }}
    {{ form_row(form.description) }}
    {{ form_row(form.tags) }}
    <div class="form-group">
        {{ form_errors(form.cardFile.file) }}
        {{ form_label(form.cardFile.file) }}
        {{ form_widget(form.cardFile.file) }}
        <p class="help-block">Max file size is 30MB.</p>
        {% if card is defined %}
            {#{ card.cardFile.type }#}
            {% if card.cardFile.type == "image" %}
                <img id="card_preview" src="{{ asset(card.cardFile.webPath) }}" 
                    class="img-responsive" alt="Card Preview" style="max-width: 500px;">
            {% else %}
                <video controls preload="none" poster="{{ card.cardThumb.webPath | imagine_filter('default_thumb') }}" style="max-width: 200px;max-height: 250px;">
                    <source src="{{ asset(card.cardFile.webPath) }}" type="video/mp4">
                    I'm sorry; your browser doesn't support HTML5 video in WebM with VP8 or MP4 with H.264.
                    <!-- You can embed a Flash player here, to play your mp4 video in older browsers -->
                </video>
            {% endif %}
        {% endif %}
    </div>
    <div class="form-group">
        {{ form_errors(form.cardThumb.file) }}
        <label>Card Thumbnail</label>
        {{ form_widget(form.cardThumb.file, {'required': false, 'attr': {'accept': 'image/*'} }) }}
        <p class="help-block">Max file size is 30MB (Only required for videos).</p>
    </div>
    {{ form_rest(form) }}     
{% endblock %}