{% extends 'ECardAdminBundle:Page:index.html.twig' %}

{% block title %}Card Manager{% endblock %}

{% block admin_side_nav %}
    {{ form_row(form.add) }}
    {{ form_row(form.edit) }}
    {{ form_row(form.delete) }}
{% endblock %} 

{% block admin_content %}
    {# render search bar! #}
    {{ render(controller('ECardBundle:Search:searchBar', {'route': 'ECardAdmin_cards',
        'category': 'all', 'readOnly': 'allow'})) }}
    
    {{ form_start(form) }}
    {{ parent() }}
    {{ form_end(form) }}
{% endblock %}

{% block admin_body %}
    {{ form_errors(form) }} 
    <table class="table table-hover table-condensed">
        <thead>
            <tr>
                <th><input type="checkbox"></th>
                <th>Category</th>
                <th>Subcategory</th>
                <th>Name</th>
                <th>Preview</th>
                <th>Description</th>
                <th>#</th>
            </tr>
        </thead>
        <tbody>
            {% set key = 0 %}
            {% for child in form.cards %}
                <tr>
                    <td>{{ form_widget(child, {'attr': {'class': attr.widget_class|default('')}}) }}</td>
                    <td>{{ cards[key].subcategory.category.name }}</td>
                    <td>{{ cards[key].subcategory.name }}</td>
                    <td><label>{{ child.vars.label }}</label></td>
                    <td>
                        {% if cards[key].cardFile is defined %}
                            {% if cards[key].cardFile.type == "image" %}
                                <img src="{{ cards[key].cardFile.webPath | imagine_filter('default_thumb') }}" 
                                    class="img-responsive" alt="{{ cards[key].name }} preview">
                            {% else %}
                                 <video controls preload="none" poster="{{ cards[key].cardThumb.webPath | imagine_filter('default_thumb') }}" style="max-width: 200px;max-height: 250px;">
                                    <source src="{{ asset(cards[key].cardFile.webPath) }}" type="video/mp4">
                                    I'm sorry; your browser doesn't support HTML5 video in WebM with VP8 or MP4 with H.264.
                                    <!-- You can embed a Flash player here, to play your mp4 video in older browsers -->
                                </video>
                            {% endif %}
                        {% endif %}
                        </td>
                    <td class="description">{{ cards[key].description|raw }}</td>
                    <td>{{ cards[key].id }}</td>
                </tr>
                <tr>
                    <td colspan="5">
                        {% for tag in cards[key].tags %}
                            <a href="{{ path('ECardAdmin_cards', {'tags': tag}) }}" class="btn btn-primary">{{ tag }}</a>
                        {% endfor %}
                    </td>
                </tr>
                {% set key = key + 1 %}
            {% endfor %}
        </tbody>
    </table>
    {{ form_rest(form) }}
    
    {% if pages > 1 %}    
    <ul class="pagination">      
        {% for i in 1..pages %}
            {% if i == 1 and i == page %}
                <li class="disabled"><a>&laquo;</a></li>
            {% elseif i == 1 %}
                <li><a href="{{ path('ECardAdmin_cards', {'page': (page-1)}) }}">&laquo;</a></li>
            {% endif %}

            {% if i == page %}
                <li class="active"><a>{{ i }} <span class="sr-only">(current)</span></a></li>
            {% else %}
                <li><a href="{{ path('ECardAdmin_cards', {'page': i}) }}">{{ i }}</a></li>
            {% endif %}

            {% if i == page and page == pages %}
                <li class="disabled"><a>&raquo;</a></li>
            {% elseif i == pages %}
                <li><a href="{{ path('ECardAdmin_cards', {'page': (page+1)}) }}">&raquo;</a></li>
            {% endif %}

        {% endfor %}
    </ul>    
    {% endif %}
{% endblock %}

{% form_theme form _self %}

{% block checkbox_widget %}
    {% spaceless %}
    <div class="checkbox">
        <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
    </div>
    {% endspaceless %}
{% endblock checkbox_widget %}