{% extends 'ECardBundle:Email:email_xtd.html.twig' %}
{% block css %}
                    
{% endblock %}
{% block title %}You got an ECard{% endblock %}
{% block content %}
    <table cellpadding="0" cellspacing="0" border="0" align="center">
        <tr>
            <td width="200" valign="top">
                {% if userCard.receiverUser is not null %}
                    <b>To:</b> {{ userCard.receiverUser.username }}
                {% elseif userCard.receiverName is not null %}
                    <b>To:</b> {{ userCard.receiverName }}                     
                {% endif %}            
            </td>
            <td width="200" valign="top">
                {% if userCard.senderUser is not null %}
                    <div><b>From:</b> {{ userCard.senderUser.username }}</div>
                {% elseif userCard.senderName is not null %}
                    <div><b>From:</b> {{ userCard.senderName }}</div>
                {% endif %}
            </td>
            <td width="200" valign="top"></td>
        </tr>
        <tr>
            <td colspan="3" style="text-align:center;">
                
                {% if card.cardFile is defined %}
                    {% if card.cardFile.type == "image" %}
                        <p>
                            <a href="{{ app_url }}{{ path('ECard_private_view', {'id': userCard.uniqueId}) }}" 
                               target="_blank" title="View card">Click here</a>
                            to view it.
                        </p>
                        <img class="image_fix" src="{{ app_url }}{{ asset(card.cardFile.webPath) }}" 
                             alt="{{ card.name }}" title="{{ card.name }}" width="500" height="500" />
                    {% else %}
                        <p>
                            This is a video card
                            <a href="{{ app_url }}{{ path('ECard_private_view', {'id': userCard.uniqueId}) }}" 
                               target="_blank" title="View video card">Click here</a>
                            to view it.
                        </p>
                        <img class="image_fix" src="{{ app_url }}{{ asset(card.cardThumb.webPath) }}" width="500" height="500"/>
                    {% endif %}
                {% endif %}
                
            </td>
        </tr>
        <tr>
            <td>Message:</td>
            <td colspan="2">
                <p>{{ userCard.message }}</p>
            </td>
        </tr>
        
        <tr>
            <td colspan="3"><a href="{{ app_url }}" target ="_blank" title="{{ app_url }}">Want to send an ECard yourself?</a></td>
        </tr>
    </table>
{% endblock %}