
{% extends 'ECardBundle::layout.html.twig' %}

{% block title %}ECard Registration {% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-primary">
                <div class="panel-heading">User Registration</div>
                <div class="panel-body">
                    {{ form_start(form) }}
                        {{ form_errors(form) }}
                        {{ form_row(form.user.username, { 'attr': {'required': true } }) }}
                        {{ form_row(form.user.email) }}
                        {{ form_row(form.user.plainPassword, { 'attr': {'required': true } }) }}
                        <div class="form-group">
                            {{ form_errors(form.recaptcha) }}  
                            {{ form_widget(form.recaptcha) }}  
                        </div>
                        <div class="form-group">
                            {{ form_errors(form.termsAccepted) }}  
                            {{ form_widget(form.termsAccepted) }}
                            Agree to the <a href="{#{ path('ECard_tos') }#}" target="_blank">Terms of Service</a>
                        </div>
                        {{ form_row(form.user.submit) }}
                    {{ form_rest(form) }}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% form_theme form _self %}

{% block checkbox_widget %}
    {% spaceless %}
    {#<div class="checkbox">#}
        <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
    {#</div>#}
    {% endspaceless %}
{% endblock checkbox_widget %}

